html {
  font-size: 18px;
}

table {
  font-size: 16px;
}

@media screen and (max-width: 499px) {
  html {
    font-size: 10px;
  }
  
  table {
    font-size: 8px;
  }
}

.centered-table{
  margin-left: auto; 
  margin-right: auto;
}

table,table th,table td{
  border:0.1px solid #afb3af;
  border-style: inset;
  border-spacing:1px;
 }

tbody{
  background:rgba(175,179,175,0.1);
  }

body{
  /* 背景色指定 */
background-color:#f7f7f9;
color:#1d1d1d;
font-family: sans-serif;
}

h2 {
  margin: 0px 0;
}

h3 {
  margin: 0px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 20px;
}

a:link{
  color: #005e99;
  text-decoration: underline;
 }
 
 a:visited{
  color: #00b359;
  text-decoration: underline;
 }
 
 a:hover{
  color: #be82ff;
  text-decoration: underline;
 }
 
 a:active{
  color: #b3272e;
  text-decoration: underline;
 }

 hr{
  height: 0.2rem;
  background-color: #e83929;
 }

 #marker{
  background-color: #abe1fa;
 }

 .parent{
display: flow-root;
}

.left{
float: left;
}

.right{
float: right;
}

ul {
  padding-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 1.5rem;
  margin-top: 0.5rem; 
}

ol {
  padding-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 0.5rem; 
}

.profile-pic {
  float: right;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
  border: 1px solid #ccc;
}

@media (max-width: 499px) {
  .profile-pic {
    width: 90px;
    height: 90px;
    margin-left: 10px;
  }
}

.weekday {
  height: 80px;
}