html {
  font-size: 16px;
}

table {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  table {
    font-size: 11px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 11px;
  }
  table {
    font-size: 7px;
  }
}

body{
  /* 背景色指定 */
background-color:#f7f7f9;
color:#1d1d1d;
font-family: sans-serif;
}

h2 {
  margin: 0px 0;
}

h3 {
  margin: 0px 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 20px;
}

a:link{
  color: #005e99;
  text-decoration: underline;
 }
 
 a:visited{
  color: #00b359;
  text-decoration: underline;
 }
 
 a:hover{
  color: #be82ff;
  text-decoration: underline;
 }
 
 a:active{
  color: #b3272e;
  text-decoration: underline;
 }

 hr{
  height: 2px;
  background-color: #e83929;
 }

 #marker{
  background-color: #abe1fa;
 }

 .parent{
display: flow-root;
}

.left{
float: left;
}

.right{
float: right;
}

ul {
  padding-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 1rem;
  margin-top: 0px; 
}

ol {
  padding-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
}

ul li{
  padding: 0px 0;
  list-style: inside;
}